@model MathHub.Web.Models.ProblemVM.DetailProblemVM
@{
    ViewBag.Title = "DetailProblem";
    Layout = "~/Views/Problem/Layouts/_ProblemDetailLayout.cshtml";
}

<h2>Detail Problem:</h2>

<ul>

    <li>Id: @Model.Id </li>

    <li>Content: @Model.Content </li>
    <li>DateCreated: @Model.DateCreated </li>
    <li>DateModified: @Model.DateModified </li>
    <li>UserId: @Model.UserId </li>
    <li>Title: @Model.Title </li>

    @*<li>FavoriteNum: @Model.PostSocial.Item1 </li>
    <li>ReportNum: @Model.PostSocial.Item2 </li>
    <li>ShareNum: @Model.PostSocial.Item3 </li>
     <li>AnswerNum: @Model.PostReply.Item2 </li>
    <li>HintNum: @Model.PostReply.Item3 </li>
    <li>Comment num: @Model.PostReply.Item1</li>*@

    <li>VoteUpNum: @Model.PostVote.Item1</li>
    <li>VoteDownNum: @Model.PostVote.Item2 </li>
    
   
</ul>

<h3>Comments</h3>
<div id="problemComments"></div>
<div id="test"></div>
<script type="text/javascript">
    $(document).ready(function () {
        getCommentAjax("problemComments", @Model.Id, 0);
        $("#tabs").tabs();
    });
</script>

@if(Model.PostReply.Item1 > 5)
{
	<button id="addPostComment" onclick="showCommentOnClick('problemComments', @Model.Id, 'commentPostForm', 'addPostComment')">Add / Show @{int num = Model.PostReply.Item1 - 5; } @num more comments</button>
}else
{
	<button id="addPostComment" onclick="showAndHideElementsById('commentPostForm', 'addPostComment')">Add comments</button>
}
@*@Html.Hidden("commentNum", @Model.PostReply.Item1, new {id="commentNum"});*@
@Html.Partial("Partials/_CommentPostForm", Model.CommentPostVm)

@*<button onclick="getCommentAjax('problemComments',@Model.Id, -1)">View more comments</button>*@

<div id="tabs">
  <ul>
    <li onclick="getAnswerAjax(@Model.Id, 0)"><a href="#fragment-1"><span>@Model.PostReply.Item2 Answers</span></a></li>
    <li onclick="getHintAjax(@Model.Id, 0)"><a href="#fragment-2"><span>@Model.PostReply.Item3 Hints</span></a></li>
  </ul>
  <div id="fragment-1">
      <div id="problemAnswers"></div>
      @Html.Partial("Partials/_AnswerPostForm", Model.AnswerPostVm)
  </div>
  <div id="fragment-2">
      <div id="problemHints"></div>
      @Html.Partial("Partials/_HintPostForm", Model.HintPostVm)
  </div>
</div>
 
<script>
    $("#tabs").tabs();
</script>

@section RightPanel
{
    @Html.Action("PostProblemWidget", new {controller = "CommonWidget"})
    <hr />
    Widgets here. You decide.
}
