@model MathHub.Web.Models.ProblemVM.DetailProblemVM
@{
    ViewBag.Title = "DetailProblem";
    Layout = "~/Views/Problem/Layouts/_ProblemDetailLayout.cshtml";
}

<h2>Detail Problem:</h2>

<ul>

    <li>Id: @Model.Id </li>

    <li>Content: @Model.Content </li>
    <li>DateCreated: @Model.DateCreated </li>
    <li>DateModified: @Model.DateModified </li>
    <li>UserId: @Model.UserId </li>
    <li>Title: @Model.Title </li>

    <li>FavoriteNum: @Model.FavoriteNum </li>
    <li>ReportNum: @Model.FavoriteNum </li>
    <li>ShareNum: @Model.ShareNum </li>
    <li>VoteUpNum: @Model.VoteUpNum</li>
    <li>VoteDownNum: @Model.VoteDownNum </li>
    <li>AnswerNum: @Model.AnswerNum </li>
    <li>HintNum: @Model.HintNum </li>
</ul>

<h3>Comments</h3>

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
		<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-2" aria-selected="true"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">@Model.AnswerNum Answers</a></li>
		<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-3" aria-selected="false"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">@Model.HintNum Hints</a></li>		
	</ul>
    <div id="tabs-1" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
        <div>
            
        </div>
    </div>
    <div id="tabs-2" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        
    </div>	
</div>


@section RightPanel
{
    @Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr />
Widgets here. You decide.
}