@model MathHub.Web.Models.ProblemVM.DetailProblemVM
@{
	ViewBag.Title = "DetailProblem";
	Layout = "~/Views/Problem/Layouts/_ProblemDetailLayout.cshtml";
}

<script type="text/javascript">
	$(document).ready(function () {
		// load comments
		getCommentAjax("problem-comments", @Model.Id, 0);
		// use jquery to make tabs
		$("#reply-tabs").tabs();
	});
</script>

<h2>Detail Problem:</h2>

@* problem detail *@
<ul>

	<li>Id: @Model.Id </li>

	<li>Content: @Model.Content </li>
	<li>DateCreated: @Model.DateCreated </li>
	<li>DateModified: @Model.DateModified </li>
	<li>UserId: @Model.UserId </li>
	<li>Title: @Model.Title </li>

	<li>VoteUpNum: @Model.PostVote.Item1</li>
	<li>VoteDownNum: @Model.PostVote.Item2 </li>
   
</ul>

<h3>Comments</h3>
@* ajax insert comment here to problem-comments *@
<div id="problem-comments"></div>

@*  function showCommentOnClick(showId, postId, formId, hideId) *@
@*  function showAndHideElementsById(showId, hideId) *@
@if(Model.PostReply.Item1 > 5)
{
	<button id="add-question-comment" onclick="showCommentOnClick('problem-comments', @Model.Id, 'comment-post-form', 'add-question-comment')">
		Add / Show @{int num = Model.PostReply.Item1 - 5; } @num more comments
	</button>
}else
{
	<button id="add-question-comment" onclick="showAndHideElementsById('comment-post-form', 'add-question-comment')">Add comments</button>
}

@Html.Partial("Partials/_CommentPostForm", Model.CommentPostVm)

@* Answer / Hint Detail *@

<div id="reply-tabs">
  <ul>
	  @* tab 1 : tab answer. all div with id=fragment-1 will appear under this tab  *@
	<li onclick="getAnswerAjax(@Model.Id, 0)"><a href="#fragment-1"><span>@Model.PostReply.Item2 Answers</span></a></li>
	  @* tab 2 : tab reply.  all div with id=fragment-2 will appear under this tab *@
	<li onclick="getHintAjax(@Model.Id, 0)"><a href="#fragment-2"><span>@Model.PostReply.Item3 Hints</span></a></li>
  </ul>

	@* ajax loading answer content *@
  <div id="fragment-1">
	  <div id="problem-answers"></div>
	  @Html.Partial("Partials/_AnswerPostForm", Model.AnswerPostVm)
  </div>
	@* ajax loading answe reply content *@
  <div id="fragment-2">
	  <div id="problem-hints"></div>
	  @Html.Partial("Partials/_HintPostForm", Model.HintPostVm)
  </div>
</div>

@section RightPanel
{
	@Html.Action(MVC.CommonWidget.PostProblemWidget())
	<hr />
}
