@using MathHub.Web.Models.ProblemVM
@model ICollection<PreviewProblemVM>
@{
    ViewBag.Title = "ListAllProblem";
    Layout = "~/Views/Problem/Layouts/_ProblemListLayout.cshtml";
}
<h2>ListAllProblem</h2>
These items are created by a loop of partial views:<br/>
@{
    
    foreach (PreviewProblemVM problem in Model)
    {
        @Html.Partial("Partials/_ProblemItem", problem);
    }
}



@section LeftPanel
{
    @Html.Action(MVC.CommonWidget.ProfileWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.FavoriteTagWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.GroupWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.SubscriptionWidget())

}

@section RightPanel
{
    @Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })
}
