@using MathHub.Web.Models.ProblemVM
@model ICollection<PreviewProblemVM>
@{
    ViewBag.Title = "ListAllProblem";
    Layout = "~/Views/Problem/Layouts/_ProblemListLayout.cshtml";
}
<h2>ListAllProblem</h2>
These items are created by a loop of partial views:<br/>
@{
    
    foreach (PreviewProblemVM problem in Model)
    {
        @Html.Partial("Partials/_ProblemItem", problem);
    }
}



@section LeftPanel
{
    
    @Html.Action("ProfileWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("FavoriteTagWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("GroupWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("SubscriptionWidget", new { controller = "CommonWidget" })
}

@section RightPanel
{
    @Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })
}
