@{
    Layout = null;
}
<div>
    <div style="float: left; padding: 5px; margin-right: 10px; font-weight: bold; font-size: 16px;">
        <a href="/" style="color: white !important">MathHub.VN</a>
    </div>
    <div style="float: left; padding: 5px; background-color: white; color: black">
        @Html.ActionLink("Problem", "Index", new {controller = "Problem"}) 
        / 
        Discussion
        / 
        Blog
    </div>
    <div style="float: right">@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul style="list-style: none">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}</div>
    <div style="clear: both"></div>

</div>
