@model MathHub.Web.Models.CommonVM.ProfileWidgetVM
@{
    Layout = null;
}

@if(WebSecurity.IsAuthenticated)
{
    <div>
    <h2>Profile</h2>
    <h4>@Model.Username</h4>
    <img src="@Model.Avatar" />
    Score:
    @Model.Score
    Medals:
    </div>
}

@*@if(Model.Medal.Item1 >= 0)
{
<p>Gold: @Model.Medal.Item1</p> 
}

@if(Model.Medal.Item2 >= 0)
{
<p>Silver: @Model.Medal.Item2</p> 
}

@if(Model.Medal.Item3 >= 0)
{
<p>Copper: @Model.Medal.Item3</p> 
}*@