@using MathHub.Web.Models.DiscussionVM
@model ICollection<PreviewDiscussionVM>
@{
    ViewBag.Title = "ListAllDiscussion";
    Layout = "~/Views/Discussion/Layouts/_DiscussionListLayout.cshtml";
}

<h2>ListAllDiscussion</h2>
These items are created by a loop of partial views:<br/>
@{
    
    foreach (PreviewDiscussionVM discussion in Model)
    {
        @Html.Partial("Partials/_DiscussionItem", discussion);
    }
}



@section LeftPanel
{
    
    @Html.Action(MVC.CommonWidget.ProfileWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.FavoriteTagWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.GroupWidget())
    <hr/>
    @Html.Action(MVC.CommonWidget.SubscriptionWidget())
}

@section RightPanel
{
    @Html.Action("PostProblemWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("MySubscriptionWidget", new { controller = "CommonWidget" })
    <hr/>
    @Html.Action("NewBlogWidget", new { controller = "CommonWidget" })
}
