<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
    <link href="~/Content/jQueryUI/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/jQueryUI/js/jquery-1.10.2.js"></script>
    <script src="~/Content/jQueryUI/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script src="~/Scripts/AjaxScript.js"></script>
    <script src="~/Scripts/MathHubScript.js"></script>
</head>
    <body class="container_12">
        <header class="grid_12">
            @Html.Action(MVC.CommonWidget.HeaderWidget())

        </header>
        <section>
            @RenderBody()
        </section>
        <footer class="grid_12">
            @Html.Action(MVC.CommonWidget.FooterWidget())
        </footer>
    </body>
</html>
