<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jQueryUI/css/ui-lightness")
    @Scripts.Render("~/Content/jQueryUI/js")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body class="container_12">
        <header class="grid_12">
            @Html.Action("HeaderWidget", new {controller = "CommonWidget"})

        </header>
        <section>
            @RenderBody()
        </section>
        <footer class="grid_12">
            @Html.Action("FooterWidget", new {controller = "CommonWidget"})
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
