@model MathHub.Web.Models.ProblemVM.AnswerItemVM

<script type="text/javascript">
	$(document).ready(function () {
		// load comments of reply
		getReplyComments('reply-comments-@Model.Id', @Model.Id, 0);
	});
</script>

Answer Item @Model.Content<br/>

<h3>Comments</h3>
@* ajax insert comment here to problem-comments *@
<div id="reply-comments-@Model.Id"></div>

@*  when click "Get More Comments" will appears all comments and a post form to post comment for reply *@
@if(Model.CommentNum > 5)
{
	// hide `add comment`, load more comments and appear post form
	// function showCommentOnClick(commentListId, postId, formId, hideId)
	<button id="add-reply-comment" 
		onclick="showCommentOnClick('reply-comments-@Model.Id', @Model.Id, 'comment-post-form-@Model.Id', 'add-reply-comment')">
		Add / Show @{int num = Model.CommentNum - 5; } @num more comments
	</button>
}else
{
	// hide `add comment` button and show post form
	// function showAndHideElementsById(showId, hideId)
	<button id="add-reply-comment" 
		onclick="showAndHideElementsById('comment-post-form-@Model.Id', 'add-reply-comment')">Add comments</button>
}

@Html.Partial("Partials/_CommentReplyPostForm", @Model.CommentPostVm)
<br />